@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(249, 247, 247);
    width: 99%;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 0.5fr 3.5fr 3.5fr 1fr;
    grid-template-columns:1.5fr 0.5fr 1fr 1fr 1fr ;
    gap: 4px;

    grid-template-areas: 
    "header header header header header"
    "nav nav nav nav nav"
    "section section section section section"
    "main main aside aside aside "
    "main main aside aside aside"
    "footer footer footer footer footer";
}

#header{
     
    display: flex;
    max-height: 100%;
    padding: 1.2%;
    flex-direction: column;
   background-color: rgba(68, 65, 65, 0.415);
    grid-area: header;
    border: 3px solid red;
}

#header p{

   max-height: 100%;
   overflow-y: auto;
   text-align: justify;
   color: rgba(246, 244, 244, 0.833);

}

#nav{
   

grid-area: nav;
width: 100%;
max-height: 100%;
padding: 5px;
border: 3px solid rgb(32, 253, 32);
}

#nav ul{
     background-color: rgba(68, 65, 65, 0.415);
    display: flex;
    width: 100%;
    color: wheat;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    border: 2px solid yellow;
   
}

#nav li{
    margin: 5px;
    text-align: center;
    border: 3px solid white;
    width: 80px;
    background-color: rgba(0, 0, 0, 0.649);
    border: 2px solid aqua;
    padding: 4px;
}

#nav a{
    color: white;
    display: inline-block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.542);
    text-decoration: none;
    border: 2px solid rgb(153, 90, 9);
}

#main{
    
    background-color: rgba(234, 18, 18, 0.415);
    grid-area: main;
    width: 100%;
    height: max-content;
     background-color: rgba(68, 65, 65, 0.262);
   border: 3px solid gold;
   padding: 5px;
   text-align: justify;
   color: rgba(253, 250, 250, 0.699);
}


#section{
    
   background-color: rgba(68, 65, 65, 0.415);
    grid-area: section;
    width: 100%;
    max-height: 100%;
 
  border: 3px solid yellowgreen;
  padding: 5px;
  text-align: justify;
  color: rgba(51, 53, 52, 0.76);
  font-weight: bold;
}

#aside{
    background-color: rgba(68, 65, 65, 0.415);
    grid-area: aside;
    width: 100%;
    height: max-content;
    border: 3px solid salmon;
    padding: 5px;
    text-align: justify;
    color: rgba(249, 252, 250, 0.755);
}

#artigo p{
    height:max-content ;
      background-color: rgba(68, 65, 65, 0.415);
}

#artigo2 p{
    height: max-content;
    background-color: rgba(68, 65, 65, 0.415);
}

#footer{
    display: inline-block;
     
   background-color: rgba(68, 65, 65, 0.415);
    grid-area: footer;
    width: 100%;
   max-height: 100%;
    text-align: center;
    color: rgb(227, 15, 15);
    margin: auto;
   padding: 5px;
    border: 3px solid rgb(235, 20, 56);
    
}

p{
    width: 100%;
    height: max-content;
}

#sec1{
    background-color: rgba(68, 65, 65, 0.415);
    width: 100%;
  
}

#main #p1{
       background-color: rgba(68, 65, 65, 0.415);
    width: 100%;
max-height: 100%;
    padding: 2%;
    margin: auto;
 
}