@charset "UTF-8";

      /*MOBILE*/

@media screen and (max-width:576px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .img{
        max-width: 100%;
        height: auto;
        
    }

    

    body{
        background-color: rgba(17, 17, 16, 0.599);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho{
       background-image: url(/exercicicos/imagens/back-phone.jpg);
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
        width: 98%;
        height: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1px;
        margin: 0px auto 0px auto;
    }

    ul{
        background-image: url(/exercicicos/imagens/back-phone.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        width: 180px;
        text-align: center;
        padding:10px;
        margin: auto auto auto 0px;
        display: flex;
        flex-direction: column;
        
    }
    
    li{
        background-color: red;
         border-radius: 5px;
        list-style: none;
        margin: 3px auto;
        width: 100%;
       
    }

    a {
        display: inline-block;
        background-color: pink;
        background-image: url(/exercicicos/imagens/back-phone.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        border: 2px solid rgba(0, 0, 0, 0.422);
         border-radius: 5px;
        box-shadow: 5px 9px 12px rgba(245, 245, 245, 0.356);
        text-decoration: none;
        color: rgb(1, 1, 1);
        font-weight: bold;
        width: 100%;
       
    }

    main{
        background-image: url(/exercicicos/imagens/back-phone.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 98%;
        height: 100%;
        margin: 3px auto 3px auto;
        justify-content: space-between;
        align-items: center;
        display: flex;
        
        
    }

    .texto{
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        overflow-y: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-image: url(/exercicicos/imagens/back-phone.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 3px 2px auto 2px;
    }

       
    .grid{
        width: 100%;
        height: 100%;
        overflow-y: auto;
         background-image: url(/exercicicos/imagens/back-phone.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: grid;
        grid-template-rows:repeat(3,auto) ;
        grid-template-columns:repeat(4, 1fr) ;
        gap: 4px 4px;
        margin: 9px auto 3px auto ;
        padding-top: 11px;
    }

    .grid img{
        margin: auto auto -5px auto;
    }

    .g1{
        grid-area: 1/1/2/-1;
        border: 1px solid wheat;
    }

    .g2{
        border: 1px solid green;
        grid-area:  2/1/3/3;
    }

    .g3{
        border: 1px solid yellow;
        grid-area: 2/3/3/5;
    }

    aside{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
         background-image: url(/exercicicos/imagens/back-phone.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 10px;
        margin: 0px auto 3px auto;
        width: 98%;
        height: 100%;
        text-align: justify;
    }


    .aside{
        background-image: url(/exercicicos/imagens/back-phone.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 10px;
        display: flex;
        overflow-y: auto;
        width: 100%;
        max-height: 100%;
        min-width: 300px;
        
        
    }

   h2{
        background-color: bisque;
        text-align: center;
        margin: auto auto 2px auto;
    }

    h2.text{
        width: 100%;
        margin: auto auto 2px auto;
    }
    
    h3{
        background-color: rgb(9, 61, 106);
        width: 100%;
        padding: 5px;
        color: aliceblue;
        text-align: center;
        margin: auto auto 2px auto;
    }
     

    .aside .img{
        margin: 2px auto auto 5px;
       width: 250px;
       height: 844px; 
}

   .p{
    padding: 5px;
    height: max-content;
   font-weight: 500;
    background-color: rgba(245, 245, 245, 0.415);
    max-width: 100%;
    margin: 2px auto auto auto;
    color: rgb(17, 17, 17);
    text-align: justify;
}

.pa{
    color: rgb(6, 6, 6);
     background-color: rgba(245, 245, 245, 0.415);
    font-weight: 500;
    height: max-content;
    padding: 5px 5px 25px 5px;
    margin: 2px auto auto auto;
    
}

footer, span{
    background-color: rgb(4, 4, 4);
    width: 100%;
    padding: 5px;
    text-align: center;
    color: wheat;
}




}


     /*TABLET*/

@media screen and (min-width:577px) and (max-width:1024px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

     .img{
        width: 100%;
        height: 200px;
        
    }

    body{
        background-color: rgba(13, 13, 13, 0.821);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho{
         background-image: url(/exercicicos/imagens/back-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 98%;
        height:100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1px;
        margin: 2px auto 0px auto;
    }

    ul{
         background-image: url(/exercicicos/imagens/back-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        width: 90%;
        text-align: center;
        padding:10px;
        margin:auto;
        display: flex;
        
    }
    
    li{
        background-color: rgba(7, 7, 7, 0.047);
        list-style: none;
        border-radius: 5px;
        margin: auto 3px;
        padding:5px;
        width: 100%;
       
    }

    a {
        display: inline-block;
         background-image: url(/exercicicos/imagens/back-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-decoration: none;
        border: 2px solid rgba(0, 0, 0, 0.095);
         border-radius: 5px;
        box-shadow: 5px 9px 12px rgba(245, 245, 245, 0.356);
        text-decoration: none;
        color: rgb(1, 1, 1);
        font-weight: bold;
        width: 100%;
        padding: 2px;
       
    }

    main{
         background-image: url(/exercicicos/imagens/back-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 98%;
        height: 100%;
        margin: 0px auto 3px auto;
        justify-content: space-between;
        align-items: center;
        display: flex;
        
    }

    .texto{
         background-image: url(/exercicicos/imagens/back-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center left;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        padding: 10px;
         margin: 2px auto 2px auto;
    }

     .texto img{
        margin: auto auto -5px auto;
    }

    .grid{
        width: 100%;
        height: 100%;
        overflow-y: auto;
         background-image: url(/exercicicos/imagens/back-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center right;
        display: grid;
        grid-template-rows:repeat(3,auto) ;
        grid-template-columns:repeat(4, 1fr) ;
        gap: 4px 4px;
        margin: 2px auto 2px auto ;
        padding-top: 11px;
    }

     .grid img{
        margin: auto auto -5px auto;
    }

    .g1{
        grid-area: 1/1/2/-1;
        border: 1px solid wheat;
    }

    .g2{
        border: 1px solid green;
        grid-area:  2/1/3/3;
    }

    .g3{
        border: 1px solid yellow;
        grid-area: 2/3/3/5;
    }

   aside{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
         background-image: url(/exercicicos/imagens/back-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        padding: 10px;
        margin: 0px auto 1px auto;
        width: 98%;
        height: 100%;
        text-align: justify;
    }


    .aside{
       background-image: url(/exercicicos/imagens/back-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        padding: 5pxpx;
        margin: 1px auto 1px auto;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
        max-height: 100%;
        min-width: 300px;
        
        
    }

   h2{
        background-color: bisque;
        text-align: center;
        margin: auto auto 2px auto;
    }

    h2.text{
        width: 100%;
        margin: auto auto 2px auto;
    }
    
    h3{
        background-color: rgb(9, 61, 106);
        width: 100%;
        padding: 5px;
        color: aliceblue;
        text-align: center;
        margin: auto auto 2px auto;
    }
     

    .aside .img{
       margin: 1px auto 1px auto;
        width: 100%;
        height: 300px;
        
     
}

 .p{
    padding: 5px;
    height: max-content;
    background-color: rgba(249, 252, 249, 0.27);
    max-width: 100%;
    margin: 2px auto auto auto;
    color: rgb(17, 17, 17);
    font-weight: 500;
    text-align: justify;
}

.pa{
    background-color: rgba(249, 247, 247, 0.258);
    height: max-content;
    padding: 5px 5px 25px 5px;
    margin: 2px auto auto auto;
    
} 

    footer, span{
    background-color: rgb(11, 11, 11);
    width: 100%;
    padding: 5px;
    text-align: center;
    color: wheat;
}
}


       /*DESKTOPS*/

       @media screen and (min-width:1025px) and (max-width:1440px) {

        *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    
      .img{
        width: 100%;
        height: 220px;
        
    
        
    }

    body{
        background-color: rgba(18, 18, 18, 0.682);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho{
         background-image: url(/exercicicos/imagens/back-pc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 98%;
        height: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1px;
        margin: 0px auto 0px auto;
    }

    ul{
         background-image: url(/exercicicos/imagens/back-pc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 90%;
        text-align: center;
        padding:10px;
        margin:auto;
        display: flex;
        
    }
    
    li{
        background-color: rgba(15, 15, 15, 0.045);
        list-style: none;
        border-radius: 5px;
        margin: auto 3px;
        padding:5px;
        width: 100%;
       
    }

    a {
        display: inline-block;
         background-image: url(/exercicicos/imagens/back-pc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center left;
        text-decoration: none;
        width: 100%;
        border: 2px solid rgba(0, 0, 0, 0.089);
         border-radius: 5px;
        box-shadow: 5px 9px 12px rgba(245, 245, 245, 0.356);
        text-decoration: none;
        color: rgb(245, 243, 243);
        font-weight: bold;
        padding: 2px;
        
       
    }

    
    main{
         background-image: url(/exercicicos/imagens/back-pc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center right;
        width: 98%;
        height: 100%;
        margin: 3px auto 3px auto;
        justify-content: space-between;
        align-items: center;
        display: flex;
        
        
    }

   .texto{
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        overflow-y: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
         background-image: url(/exercicicos/imagens/back-pc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        width: 100%;
        height: 100%;
        padding: 3px;
        margin: 5px 2px auto 2px;
        
    }

     .texto img{
        margin: -4% auto 4% auto;
        height: 277px;
    }

    .texto .p{
        margin: -4% auto auto auto;
    }

       
    .grid{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background-image: url(/exercicicos/imagens/back-pc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        display: grid;
        grid-template-rows:repeat(3,auto) ;
        grid-template-columns:repeat(4, 1fr) ;
        gap: 4px 4px;
        margin: 11px auto 3px auto ;
        padding-top: 2px;
    }

     .grid img{
        margin: auto auto -5px auto;
    }

    .g1{
        grid-area: 1/1/2/-1;
        border: 1px solid wheat;
    }

    .g2{
        border: 1px solid green;
        grid-area:  2/1/3/3;
    }

    .g3{
        border: 1px solid yellow;
        grid-area: 2/3/3/5;
    }

 aside{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
         background-image: url(/exercicicos/imagens/back-pc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left
        bottom;
        padding: 10px;
        margin: 0px auto 3px auto;
        width: 98%;
        height: 100%;
        text-align: justify;
    }


    .aside{
         background-image: url(/exercicicos/imagens/back-pc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right bottom;
        padding: 10px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
        max-height: 100%;
        min-width: 300px;
        
        
    }

   h2{
        background-color: bisque;
        text-align: center;
        margin: auto auto 2px auto;
    }

    h2.text{
        width: 100%;
        display: inline-block;
        margin: -3px auto 4.4% auto;
    }
    
    h3{
        background-color: rgb(9, 61, 106);
        width: 100%;
        padding: 5px;
        color: aliceblue;
        text-align: center;
        margin: auto auto 2px auto;
    }
     

    .aside .img{
     margin: 10px auto -60px auto;
       width: 100%;
       height: 300px; 
}

  .p{
    padding: 5px;
    height: max-content;
    background-color: rgba(248, 248, 248, 0.238);
    font-weight: 500;
    max-width: 100%;
    margin: 2px auto auto auto;
    color: rgb(17, 17, 17);
    text-align: justify;
}

.pa{
    background-color: rgba(251, 251, 250, 0.227);
    font-weight: 500;
    height: max-content;
    padding: 5px 5px 25px 5px;
    margin: 2px auto auto auto;
    
}

    footer,span{
    background-color: rgb(44, 2, 11);
    width: 100%;
    padding: 5px;
    text-align: center;
    color: wheat;
}
}


    
    /*GRANDES TELAS*/

@media screen and (min-width:1441px) {

    
        *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

     .img{
        width: 100%;
        height: 300px;
        
    }


    body{
        background-color: rgba(5, 5, 5, 0.574);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho{
         background-image: url(/exercicicos/imagens/back-tv.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 98%;
        height: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1px;
        margin: 0px auto 0px auto;
    }

    ul{
         background-image: url(/exercicicos/imagens/back-tv.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 90%;
        text-align: center;
        padding:10px;
        margin:auto;
        display: flex;
        
    }
    
    li{
        background-color: rgba(4, 4, 4, 0.029);
        list-style: none;
        margin: auto 3px;
        padding:5px;
        width: 100%;
        border-radius: 5px;
       
    }

    a {
        display: inline-block;
        background-image: url(/exercicicos/imagens/back-tv.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        text-decoration: none;
        width: 100%;
        padding: 2px;
       border: 2px solid rgba(0, 0, 0, 0.058);
         border-radius: 5px;
        box-shadow: 5px 9px 12px rgba(245, 245, 245, 0.356);
        text-decoration: none;
        color: rgb(1, 1, 1);
        font-weight: bold;
        
       
    }


    main{
         background-image: url(/exercicicos/imagens/back-tv.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 98%;
        height: 100%;
        margin: 3px auto 3px auto;
        justify-content: space-between;
        align-items: center;
        display: flex;
        
        
    }

    .texto{
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        overflow-y: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-image: url(/exercicicos/imagens/back-tv.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center right;
        width: 100%;
        height: 100%;
        padding: 3px;
        margin: 5px 2px auto 2px;
        
    }

     .texto img{
        margin: -2% auto 4% auto
    }

    
 .texto .p{
        margin: -3.7% auto auto auto;
    }
       
    .grid{
        width: 100%;
        height: 100%;
        overflow-y: auto;
         background-image: url(/exercicicos/imagens/back-tv.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center left;
        display: grid;
        grid-template-rows:repeat(3,auto) ;
        grid-template-columns:repeat(4, 1fr) ;
        gap: 4px 4px;
        margin: 11px auto 3px auto ;
        padding-top: 2px;
    }

     .grid img{
        margin: auto auto -5px auto;
    }


    .g1{
        grid-area: 1/1/2/-1;
        border: 1px solid wheat;
    }

    .g2{
        border: 1px solid green;
        grid-area:  2/1/3/3;
    }

    .g3{
        border: 1px solid yellow;
        grid-area: 2/3/3/5;
    }

   aside{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
         background-image: url(/exercicicos/imagens/back-tv.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        padding: 10px;
        margin: 0px auto 3px auto;
        width: 98%;
        height: 100%;
        text-align: justify;
    }


    .aside{
         background-image: url(/exercicicos/imagens/back-tv.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        padding: 3px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
        max-height: 100%;
        min-width: 300px;
        
        
    }

   h2{
        background-color: bisque;
        text-align: center;
        margin: auto auto 2px auto;
    }

     h2.text{
        width: 100%;
        display: inline-block;
        margin: -3px auto 2.4% auto;
    }
    
    h3{
        background-color: rgb(9, 61, 106);
        width: 100%;
        padding: 5px;
        color: aliceblue;
        text-align: center;
        margin: auto auto 2px auto;
    }
     

    .aside .img{
      margin: 2px auto auto auto;
       width: 100%;
       height: 300px; 
}

   .p{
    padding: 5px;
    height: max-content;
    background-color: rgba(249, 250, 249, 0.196);
    max-width: 100%;
    margin: 2px auto auto auto;
    color: rgb(17, 17, 17);
    text-align: justify;
    font-weight: 500;
}

.pa{
    background-color: rgba(245, 244, 244, 0.196);
    height: max-content;
    padding: 5px 5px 25px 5px;
    margin: 2px auto -20px auto;
    font-weight: 500;
    
}

    footer,span{
    background-color: rgb(4, 4, 4);
    width: 100%;
    padding: 5px;
    text-align: center;
    color: wheat;
}
}


    

       
    
