@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    width: 99%;
    height: 100vh;
    overflow:auto;
    gap: 6px;
    grid-template-rows: 1fr 2fr 1.7fr 3fr 0.2fr;
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas: 
 "nav nav nav"
 "header header header"
 "main main main"
 "article1 article2 article3"
 "footer footer footer"
}

#nav{
    background-color: red;
    grid-area: nav;
    padding:5px;
    text-align:justify;
}

#header{
    background-color: green;
    grid-area: header;
    padding:5px;
    text-align:justify;
}

#main{
    background-color: blue;
    grid-area: main;
    padding:5px;
    text-align:justify;

}

.article1{
    background-color: aquamarine;
    grid-area: article1;
    padding: 5px;
    text-align:justify;
}

.article2{
    background-color: rgb(170, 18, 107);
    grid-area: article2;
    padding:5px;
}

.article3{
    background-color: rgb(188, 209, 49);
    grid-area: article3;
    padding:5px;
    text-align:justify;
}
#footer{
    background-color: brown;
    grid-area: footer;
    padding:5px;
    text-align:center;
}
