@charset "UTF-8";

body {
    background-image: url(imagens/wallpaper001.jpg);
}
div.quadrado {
    display: inline-block;
    border: 2px solid #000000;
    height: 300px;
    width: 300px;
    border-radius: 10px;
} 

div#i1 {
background-image: url('imagens/pattern001.png');

}

div#i2 {
background-image: url('imagens/pattern002.png');

}

div#i3 {
background-image: url(imagens/pattern003.png)
}