@charset "UTF-8";

body {

  
}

div.bloco {
    height: 200px;
    border: 3px solid black;
    margin: 10px;
    border-radius: 10px;
    background-image: url('imagens/wallpaper003.jpg');

}

div#f1 {
background-position:right top;

}

div#f2 {
background-position: center;

}

div#f3 {
background-position: right bottom;


}