@charset "UTF-8";

body {

background: black url('imagens/wallpaper002.jpg') no-repeat center top / cover fixed;
}

main {

    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: 0 auto;
    border: 1px  solid rgb(58, 57, 57);
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.518);
    text-align: center;

   
}



