@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #form > h1 {

        margin-top: 20px;

            }


    #login {
        width: 80vw;
        height: 320px;
    }

    #login > #img {
        float: left;
        width: 30%;
        height: 100vh;
    }

    #login > #form {
        float: right;
        width: 70%;
    }
    
}

@media screen and (min-width:992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #form > h1 {

        margin-top: 14px;

            }

    #login {
        width: 980px;
        height: 340px;
    }

    #login > #img {
        float: right;
        width: 50%;
        height: 100%;
    }

    #login > #form {
        float: left;
        width: 50%;
    }


    #form > p {
        font-size: 1.2em;
    }


    
}


