@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    width: 100vw;
    height: 100vh;
}

header, .normal {
    padding: 20px;
}

p { 
    margin-bottom: 10px;
    text-align: justify;
    text-indent: .5em;

}

h1, h2 {
    text-align: left;
    margin-bottom: 10px;
    line-height: 1.2em;

}



.flex {
    background-color: rgba(128, 128, 128, 0.381);
    padding: 20px;
    display: flex;
   flex-flow: column nowrap;

}


.media-text {
  display: flex;
 flex-flow: row wrap-reverse;
    justify-content: space-between;
  
}

.text-media {
    display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
}

.text {
    flex: 1 1 500px;

}


.media {
    flex: 1 0 500px;
}

#img {
    width: 380px;
    height: 400px;
}

.media > img {
    display: block;
    margin: auto;
    padding: 10px;

}

.media > iframe {
    display: block;
    margin: auto;
    padding: 0px 20px;

}