@charset "UTF-8";
* {

    margin: 0;
    padding: 0;
   
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

html, body {
   background-color: rgba(0, 0, 0, 0.108); 
   min-height: 100vh;
   font-family: var(--font1); 
}


header {

    background-color: rgba(0, 0, 0, 0.855);
    text-align: center;color:#ffffff ;
}   

header > h1 {

    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
    
    
}


header > p {

    padding-bottom: 50px;
}


a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
}


a:hover {
    color: #4d4d4d;
    text-decoration: underline;
    transition: .2s;
}

section.normal {
background-color:rgb(255, 254, 254); color: rgb(14, 13, 13);

}

section.img {
    background-color: rgba(0, 0, 0, 0.64);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.684);
    background-size: cover;
}

#img1 {
 background-image: url('../desafio012/imagens/background001.jpg');
 background-position: right center;
 background-attachment: fixed;
}

#img2 {
 background-image: url('../desafio012/imagens/background002.jpg');
 background-attachment: fixed;
}

section {

    padding-top: 10VH;
    padding-bottom: 10VH;
    line-height:2em;
    padding-left:30px; 
    font-family: var(--font3);
     font-size: 3.5vw;
}


section > p {
    padding-bottom: 2em;
    
}


section.img > p {
  background-color: rgba(14, 13, 13, 0.279);
  display: inline-block;
  padding: 5px;
  text-shadow:1px 1px rgb(0, 0, 0) ;
  
}
    

footer {

    background-color: black;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    font-family: var(--font1);
}
